{% include "header.html" %}

<div class="px-md-4 px-2 mx-md-4 mx-0 pt-4">
    <a class="icon-link icon-link-hover
              link-underline link-underline-opacity-0"
       style="color: green;
              --bs-link-hover-color-rgb: 25, 135, 84;
              --bs-icon-link-transform: scale(1.4);
              "
       href="{{ url_for('home') }}"
       target="_blank">

        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z"></path>
            <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"></path>
        </svg>
        Back to <b>KRLOVES</b> ♡
    </a>
</div>


<div id="all-projects" class="container px-4 py-4 my-md-4 mt-4 mb-0 align-items-center">
    <h4 class="h3 sticky-header-projects mb-4 ps-2" style="color:green">Projects</h4>
    <ul class="list-group list-group-flush bg-transparent">

     {% for project in projects %}
        <li class="row">
            <div class="col-12 col-md-3 ps-4">
                <a class="icon-link icon-link-hover
                          link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
                   style="color: black;
                          --bs-link-hover-color-rgb: 25, 135, 84;
                          --bs-icon-link-transform: scale(1.4);
                          "
                   href=" {{ project['Github_Link'] }}"
                   target="_blank">

                    {% if project['Github_Link'] != 'WIP' %}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-git" viewBox="0 0 16 16">
                      <path d="M15.698 7.287 8.712.302a1.03 1.03 0 0 0-1.457 0l-1.45 1.45 1.84 1.84a1.223 1.223 0 0 1 1.55 1.56l1.773 1.774a1.224 1.224 0 0 1 1.267 2.025 1.226 1.226 0 0 1-2.002-1.334L8.58 5.963v4.353a1.226 1.226 0 1 1-1.008-.036V5.887a1.226 1.226 0 0 1-.666-1.608L5.093 2.465l-4.79 4.79a1.03 1.03 0 0 0 0 1.457l6.986 6.986a1.03 1.03 0 0 0 1.457 0l6.953-6.953a1.03 1.03 0 0 0 0-1.457"/>
                    </svg>
                    {% endif %}

                    <p class="h6 mb-1">{{project['Title']}}</p>
                </a>
            </div>

            <div class="col-12 col-md-6
                        pb-md-4 pb-0 ps-md-2 ps-4
                        ms-md-0 ms-4">
                {% if project['Github_Link'] != 'WIP' %}
                <p class="mb-0 pe-md-0 pe-4 text-body-secondary small">
                    {{ project['Description'] }}
                </p>
            </div>

            <div class="col-12 col-md-3 pb-4
                    pb-md-4 pb-0 ps-md-2 ps-4 ms-md-0 ms-4 pe-md-0 pe-4">
                {% for tool in project['Tools'].split(',') %}
                <span class="badge rounded-pill text-bg-success">{{ tool.strip() }}</span>
                {% endfor %}
            </div>

                {% else %}

            <div class="d-flex align-items-start">
                <div class="pt-2  spinner-grow spinner-grow-sm text-secondary" role="status">
                  <span class="sr-only"></span>
                </div>
                <p class="text-body-secondary mt-0 ps-2 small">   Work in Progress...</p>
            </div>

                {% endif %}
        </li>
     {% endfor %}
    </ul>
</div>


{% include "footer.html" %}