<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>It Works!</h1>

    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="name">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" placeholder="password">
        <input type="submit" value="Ok">
    </form>


</body>

<!--References: https://www.w3schools.com/html/html_forms.asp-->
</html>