<!DOCTYPE html>
<html lang="en">
    {% include "header.html" %}
    <body>

        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/jazmin-quaynor-8ioenvmof-I-unsplash.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>krloves ♥ bootstrapping blog</h1>
                            <span class="subheading">jinja x flask for random blogs</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% for post in blog: %}
                    <div class="post-preview">
                        <a href="{{ url_for('get_post', post_id=post['id']) }}">
                            <h2 class="post-title">{{ post['title'] }}</h2>
                            <h3 class="post-subtitle">{{ post['subtitle'] }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="https://digitalenggph.github.io/">krloves ♥</a>
                            on {{ date }}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    {% include "footer.html" %}
    </body>

</html>
